<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Masters Advanced Computer Engineering and Data Science.</h1>
            <span>University of Sogang</span>
            <span><address> Seoul, Korea Rep </address><time>2016 to 2018</time></span>
        </header>
       
    </article>
    <article>
        <header>
            <h1>Bachelor of Science in Computer Engineering.</h1>
            <span>Inha Technical College</span>
            <span><address> Incheon, Korea Rep</address><time>2008 to 2011</time></span>
        </header>
       
    </article>
</section>
