<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Software Engineer</h1>
            <span><address> <a href="http://www.nexstreaming.com/"> NexStreaming KOSDAQ: 139670, Seoul , Korea Rep </a> </address><time>2012 to Present</time></span>
        </header>
        <p>These days I am working for NexPlayer SDK that can help customers to easily create a video player application for streaming on the various platforms. Our SDK support - HLS , DASH , Smooth Streaming On a variety of platforms.
            Among a variety of platforms I have focused at Android and iOS platforms and technical support part for Korean customers( SBS Content hub , Zigbang, KT Telecom) using our 360 degrees player SDK .
            Additionally I have some experiences about some application develpment projects  across multiple platforms like a Android app and iOS app,Windows 10 UWP app
            And not many times I have participated in development project about  Media source , NACI with javascript , HTML5 in Nexstreaming. 
            </p>
            <h3></h3>   
            <a  href="http://www.nexstreaming.com/"> http://www.nexstreaming.com/</a></p>
    </article>
    <article>
        <header>
            <h1>Technical Support Engineer</h1>
            <span><address> <a href="http://www.nexstreaming.com/"> NexStreaming Spain(Overseas office) Calle del Capitán Haya, 1, 28020 Madrid, Spain  </a> </address><time>2015.04 to 2015.07</time></span>
        </header>
        <p>I have worked about customer support for US and Europe customers using our player SDK (Android & iOS & Windows 10 parts) during three months in our branch office in Madrid, Spain.</p>
        <h3></h3>   
            <a  href="http://www.nexstreaming.com/"> http://www.nexstreaming.com/</a></p>
    </article>

    <article>
        <header>
            <h1>Software Engineer Internship</h1>
            <span><address> <a href="http://www.daou.co.kr/index.php/en"> Daou Technology Inc: KRX:023590   Yongin, Korea Rep </a>   </address> <time>2012.07 to 2012.09</time></span>
        </header>
        <p >I worked as an intern at daou software Institute ,  Mobile Development team. When I was working there  , 
            I made a prototype app about Remote Shot which is  Android Camera app using Bluetooth Protocol.
        <h3></h3>   
            <a  href="http://www.daou.co.kr/index.php/en"> http://www.daou.co.kr/index.php/en</a></p>
    </article>

   <article>
        <header>
            <h1>Software Engineer Internship</h1>
            <span><address> <a href="http://www.sqlgate.com/"> SQLGate   Seoul, Korea Rep </a>   </address> <time>2012.01 to 2012.04</time></span>
        </header>
        <p > I held on seminar about senchatoouch framework and how to apply senchatoouch theme with sass and css.
        <h3></h3>   
            <a  href="http://www.sqlgate.com/"> http://www.sqlgate.com/</a></p>
    </article>

</section>
