<section class="thirteen columns">
    <h1>Commercial Projects</h1>

    <article>
        <header>
            <h1>PunchFish Project.  </h1>
            <span>Windows Phone Game App (XNA / c# )</span>
        </header>
        <p>
           Developing about Windows Phone Game with XNA Framework It supports Widnows 8,8.1 (whole Development) -<time>2011</time>
        </p>
    </article>

    <article>
        <header>
            <h1>Senchatouch Seminar project.  </h1>
            <span>Hybrid App (Senchatouch / CSS / Sass )</span>
        </header>
        <p>
           Developing Hybrid app to introduce seminar introduction and sessions (Development applied theme part) -<time>2012</time>
        </p>
    </article>
        <article>
        <header>
            <h1>Remote Shot</h1>
            <span>Android App (Android / Java. )</span>
        </header>
        <p>
           the Remote shot is android camera app using bluetooth protocol it can click the pictures on your camera with other device.(Development about prototype app) -<time>2012</time>
        </p>
        <a  href="http://www.technobuzz.net/remotely-control-your-iphone-android-camera-with-remote-shot/"> RemoteShot/</a></p>
    </article>
    

    </article>
        <article>
        <header>
            <h1>PopPlayer</h1>
            <span>Android App (Android / Java / c++ /VidePlayer )</span>
        </header>
        <p>
           the Remote shot is android camera app using bluetooth protocol it can click the pictures on your camera with other device.(Development about prototype app) -<time>2013</time>
        </p>
        <a  href="https://www.onestore.co.kr/userpoc/apps/view?pid=0000371859"> PopPlayer/</a></p>
        
    </article>


    <h1>Personal Projects</h1>
</section>
