<section class="thirteen columns">
    <h1>Commercial Projects</h1>

    <article>
        <header>
            <h1>PunchFish Project. <time><2011></time></h1>
            <span>Windows Phone 8.1 Game App Development (XNA/c#).</span>
        </header>
        <p>
           Developing about Windows Phone Game with XNA Framework It supports Widnows 8,8.1.  
           <br>
           
          Developed things and responsibilities : Whole Development ,Team leading. 
           <br>
          
        </p>
    </article>

    <article>
        <header>
            <h1>Senchatouch Seminar project. <time><2012></time></h1>
            <span>Hybrid App Development (Senchatouch/CSS/Sass /HTML/JavaScirpt).</span>
        </header>
        <p>
           Developing Hybrid app to introduce seminar introduction and sessions.
           <br>
            
        Developed things and responsibilities: Development about themes for Hybrid web app using Sencha Touch and Sass.
            <br>
            
        </p>
    </article>
        <article>
        <header>
            <h1>Remote Shot.<time><2012></time></h1>
            <span>Android App Development (Android/Java).</span>
        </header>
        <p>
           the Remote shot is android camera app using bluetooth protocol it can click the pictures on your camera with other device.
            <br>
Developed things and responsibilities: Development Prototype app.
           <br>
           
        </p>
        <br>
        <a  href="http://www.technobuzz.net/remotely-control-your-iphone-android-camera-with-remote-shot/" style="color: blue"> RemoteShot</a></p>
    </article>
    

    </article>
        <article>
        <header>
            <h1>PopPlayer.  <time><2012 - 2013></time> </h1>
            <span>Android App Development (Android/Java/ c/c++ /VidePlayer)</span>
        </header>
        <p>
           the PopPlayer is android videoPlayer app.
            <br>
              
Developed things and responsibilities : UI Development and maintenance works.
            <br>
            
        </p>
        <br>
        <a  href="https://www.onestore.co.kr/userpoc/apps/view?pid=0000371859" style="color: blue"> PopPlayer</a></p>
        
    </article>

      </article>

    <article>
        <header>
            <h1>KineMix.  <time><2012 - 2013></time></h1>
            <span>Android App Development(Android/Java / c/c++ /VideoEditor)</span>
        </header>
        <p>
             
Developed things and responsibilities : UI Development and maintenance works.
            <br>
            
        </p>
        <br>
        <a  href="http://kr.webtech360.com/download/%E1%84%8B%E1%85%A1%E1%86%AB%E1%84%83%E1%85%B3%E1%84%85%E1%85%A9%E1%84%8B%E1%85%B5%E1%84%83%E1%85%B3-%E1%84%87%E1%85%B5%E1%84%83%E1%85%B5%E1%84%8B%E1%85%A9-%E1%84%91%E1%85%A7%E1%86%AB%E1%84%8C%E1%85%B5%E1%86%B8-%E1%84%80%E1%85%B5%E1%84%82%E1%85%B3%E1%86%BC-%E1%84%92%E1%85%A3%E1%86%BC%E1%84%89%E1%85%A1%E1%86%BC-%E1%84%8B%E1%85%A1%E1%86%AB%E1%84%83%E1%85%B3%E1%84%85%E1%85%A9%E1%84%8B%E1%85%B5%E1%84%83%E1%85%B3-2-0-3%E1%84%8B%E1%85%A6-%E1%84%83%E1%85%A2%E1%84%92%E1%85%A1%E1%86%AB-kinemix-44972.html" style="color: blue"> KineMix</a></p>
        
    </article>

    <article>
        <header>
            <h1>NexPlayer SDK for Windows 10 UWP.  <time><2013 - 2014></time> </h1>
            <span>Mobile Live Streaming Player SDK Development for Windows 10 & UWP(Windows/c# / c/c++ /SDK).</span>
        </header>
        <p>
        Developed things and responsibilities. 
        <ul>
            <li>Made a SDK Sample code for windows 10 APP.</li>
            <li>Made a CaptionRenderer.</li>
            <li>Building a packaging system with VSIX.</li>
            <li>Technical Support.</li>
        </ul>
            <br>
        </p>
        <a  href="https://nexstreaming.com/products/nexplayer-sdk" style="color: blue"> NEXPLAYER SDK</a></p>
        
    </article>

  
 <article>
        <header>
            <h1>NexPlayer SDK for Android.  <time><2013 - present></time> </h1>
            <span>Mobile Live Streaming Player SDK Development for Android(Android/JAVA / c/c++ /JNI/SDK).</span>
        </header>
        <p>
        Developed things and responsibilities. 
        <ul>
            <li>Made a SDK Sample code for Android.</li>
            <li> porting work Android SDK (Between Player Engine (c/c++) and JAVA Layer) with JNI. </li>
            <li>made many script files to Build auto packaging system (Jenkins).</li>
            <li>Technical Support.</li>
        </ul>
            <br>
            
        </p>
        <a  href="https://nexstreaming.com/products/nexplayer-sdk" style="color: blue"> NEXPLAYER SDK</a></p>
        
    </article>

 <article>
        <header>
            <h1>NexPlayer SDK for iOS.  <time><2016 - present></time> </h1>
            <span>Mobile Live Streaming Player SDK Development for iOS(iOS/Swift/Object C/c/c++ /SDK).</span>
        </header>
        <p>
        Developed things and responsibilities. 
        <ul>
            <li>Made a SDK Sample code for iOS.(Object C and Swift Both.)</li>
            <li> porting work iOS SDK (Between Player Engine (c/c++) and ObjectC Layer) </li>
            <li>Technical Support.</li>
        </ul>
            <br>
            
        </p>
        <a  href="https://nexstreaming.com/products/nexplayer-sdk" style="color: blue"> NEXPLAYER SDK</a></p>
        
    </article>

    <article>
        <header>
            <h1>NexPlayer 360SDK.  <time><2016 - present></time> </h1>
            <span>Mobile 360 Video Live Streaming Player SDK Development (Android/iOS/Swift/Java/Object C /c/c++ /SDK).</span>
        </header>
        <p>
        Developed things and responsibilities. 
        <ul>
            <li>Technical Support.</li>
            <li>360SDK API Development.</li>
            <li>iOS Texture Development using Metal Framework for video Play. </li>
        </ul>
            <br>
            
        </p>
        <a  href="https://nexstreaming.com/products/nexplayer-360-sdk" style="color: blue"> NEXPLAYER 360SDK</a></p>
        
    </article>

     <article>
        <header>
            <h1>KT GiGA VR Music Live Player.<time><2016 ></time> </h1>
            <span>Android App Development (Android/JAVA).</span>
        </header>
        <p>
        Developed things and responsibilities. 
        <ul>
            <li>Whole Development</li>
        </ul>
            <br>
            
        </p>
        <a  href="http://windwaker.net/2196" style="color: blue"> VR Music Live Player</a></p>
        
    </article>

    <article>
        <header>
            <h1>NexPlayer Unity Plugin.  <time><2017 - present></time> </h1>
            <span>NexPlayer Unity Plugin Development (iOS/Android/c#/Object C /c/c++/JAVA/JNI).</span>
        </header>
        <p>
        Developed things and responsibilities. 
        <ul>
            <li>UNITY Plugin API Development.</li>
            <li>iOS Texture Development using Metal Framework for video Play.</li>
        </ul>
            <br>
            
        </p>
        <a  href="https://nexstreaming.com/products/nexplayer-for-unity" style="color: blue"> NEXPLAYER Unity Plugin</a></p>
        
    </article>

    
      <article>
        <header>
            <h1>FIFA U-20 WC 2017 VR Player for Android.<time><2017></time> </h1></h1>
            <span>Android App Development  (Android/Java/VR Video Player).</span>
        </header>
        <p>
           FIFA U-20 WC 2017 VR Player is Android  VR Player App which provide live football broadcasting service as 360 contents type. it workd with fifa and korean big broadcasting companys SBS ,KBS , MBC and KT.  (Whole Development ).
        </p>
        <br>
        <a  href="https://play.google.com/store/apps/details?id=com.nexstreaming.app.nex360football" style="color: blue" > FIFA U-20 WC 2017 VR Player for Android</a></p>
        
    </article>


     <article>
        <header>
            <h1>FIFA U-20 WC 2017 VR Player for iOS.<time><2017 ></time> </h1></h1>
            <span>iOS App Development(iOS/ObjectC/VR VideoPlayer).</span>
        </header>
        <p>
           FIFA U-20 WC 2017 VR Player is iOS VR Player App which provide live football broadcasting service as 360 contents type. it workd with fifa and korean big broadcasting companys SBS ,KBS , MBC and KT.  (Whole Development ). 
        </p>
        <br>
        <a  style="color: blue" > FIFA U-20 WC 2017 VR Player for iOS</a></p>
        
    </article>


    <h1>Personal Projects</h1>
      <article>
        <header>
            <h1>EdgeDetection.<time><2015></time></h1>
            <span>Native opensource sample project(c++).</span>
        </header>
        <p>
          EdgeDetection is sobel algorism's test project it applied sobel algorism and some codes to test edge Detection.
        </p>

        <br>
        <a  href="https://github.com/superbderrick/EdgeDetection " style="color: blue"> EdgeDetection</a></p>
        
    </article>

    <article>
        <header>
            <h1>MediaSourceSample.<time><2015></time></h1>
            <span>Opensource project about Mediasource Sample.(JavaScirpt/NodeJs/MediaPlayer).</span>
        </header>
        <p>
          Tutorial sample code for How to use Mediasource. 
        </p>

        <br>
        <a  href="https://github.com/superbderrick/MediaSourceSample " style="color: blue"> MediaSourceSample</a></p>
        
    </article>


        <article>
        <header>
            <h1>CommitPic.<time><2017></time></h1>
            <span>iOS App Development (iOS /Swift).</span>
        </header>
        <p>
          CommitPic is a photo application to share development records easily and freely with Some Opensource and firebase.
        </p>

        <br>
        <a  href="https://github.com/superbderrick/CommitPic " style="color: blue"> CommitPic</a></p>
        
    </article>

     <article>
        <header>
            <h1> SummerPlayer.<time><2017></time></h1>
            <span>Android and OS App Development (iOS /Swift , Android / JAVA).</span>
        </header>
        <p>
          Mobile Video Player app project  among the various platforms  like android and iOS.
          the player can play local video file in the mobile phone and streaming play with many open sources.(exoPlayer)
        </p>

        <br>
        <a  href="https://github.com/superbderrick/summerPlayer" style="color: blue"> SummerPlayer</a></p>
        
    </article>
     <article>
        <header>
            <h1> SogangFCManagementSystem.<time><2017></time></h1>
            <span>Football club ManagementSystem. (Django/Python/Mysql/Erwin).</span>
        </header>
        <p>
          This project is Master's degree homework project which to make simple site and database system with django framework and data modeling also with erwin.
        </p>
        <br>
        <a  href="https://github.com/superbderrick/SogangFCManagementSystem" style="color: blue"> SogangFCManagementSystem</a></p>
        
    </article>

    

     <article>
        <header>
            <h1> ResumeSite.  <time><2017></time></h1>
            <span>Resume WebSite Development.(WebSite/HTML/CSS/Jekyll).</span>
        </header>
        <p>
           Personal Resume website using jekyll and with vitae.  
        </p>
        <br>
        <a  href="https://github.com/superbderrick/superbderrick.github.io" style="color: blue "> ResumeSite</a></p>
    </article>


</section>
