<section class="thirteen columns">
    <h1>Commercial Projects</h1>

    <article>
        <header>
            <h1>PunchFish Project. <time><2011></time></h1>
            <span>Windows Phone 8.1 Game App Development (XNA / c# )</span>
        </header>
        <p>
           Developing about Windows Phone Game with XNA Framework It supports Widnows 8,8.1.  
           <br>
           
          Developed things and responsibilities : Whole Development ,Team leading. 
           <br>
          
        </p>
    </article>

    <article>
        <header>
            <h1>Senchatouch Seminar project. <time><2012></time></h1>
            <span>Hybrid App Development (Senchatouch / CSS / Sass / HTML / JavaScirpt)</span>
        </header>
        <p>
           Developing Hybrid app to introduce seminar introduction and sessions.
           <br>
            
        Developed things and responsibilities: Development about themes for Hybrid web app using Sencha Touch and Sass.
            <br>
            
        </p>
    </article>
        <article>
        <header>
            <h1>Remote Shot.<time><2012></time></h1>
            <span>Android App Development (Android / Java)</span>
        </header>
        <p>
           the Remote shot is android camera app using bluetooth protocol it can click the pictures on your camera with other device.
            <br>
           
Developed things and responsibilities: Development Prototype app.
           <br>
           
        </p>
        <a  href="http://www.technobuzz.net/remotely-control-your-iphone-android-camera-with-remote-shot/"> RemoteShot</a></p>
    </article>
    

    </article>
        <article>
        <header>
            <h1>PopPlayer.  <time><2012 - 2013></time> </h1>
            <span>Android App Development (Android / Java / c/c++ /VidePlayer)</span>
        </header>
        <p>
           the PopPlayer is android videoPlayer app.
            <br>
              
Developed things and responsibilities : UI Development and maintenance works.
            <br>
            
        </p>
        <a  href="https://www.onestore.co.kr/userpoc/apps/view?pid=0000371859"> PopPlayer</a></p>
        
    </article>

      </article>

    <article>
        <header>
            <h1>KineMix.  <time><2012 - 2013></time></h1>
            <span>Android App Development(Android / Java / c/c++ /VideoEditor)</span>
        </header>
        <p>
             
Developed things and responsibilities : UI Development and maintenance works.
            <br>
            
        </p>
        <a  href="https://www.onestore.co.kr/userpoc/apps/view?pid=0000371859"> KineMix</a></p>
        
    </article>

    <article>
        <header>
            <h1>NexPlayer SDK for Windows 10 UWP.  <time><2013 - 2014></time> </h1>
            <span>Mobile Live Streaming Player SDK Development for Windows 10 & UWP(Windows / c# / c/c++ /SDK)</span>
        </header>
        <p>
        Developed things and responsibilities 
        <ul>
            <li>Made a SDK Sample code for windows 10 APP.</li>
            <li>Made a CaptionRenderer.</li>
            <li>Building a packaging system with VSIX.</li>
            <li>Technical Support.</li>
        </ul>
            <br>
        </p>
        <a  href="https://nexstreaming.com/products/nexplayer-sdk"> NEXPLAYER SDK.</a></p>
        
    </article>

  
 <article>
        <header>
            <h1>NexPlayer SDK for Android.  <time><2013 - present></time> </h1>
            <span>Mobile Live Streaming Player SDK Development for Android(Android / JAVA / c/c++ / JNI/SDK)</span>
        </header>
        <p>
        Developed things and responsibilities 
        <ul>
            <li>Made a SDK Sample code for Android.</li>
            <li> porting work Android SDK (Between Player Engine (c/c++) and JAVA Layer) with JNI. </li>
            <li>made many script files to Build auto packaging system (Jenkins).</li>
            <li>Technical Support.</li>
        </ul>
            <br>
            
        </p>
        <a  href="https://nexstreaming.com/products/nexplayer-sdk"> NEXPLAYER SDK.</a></p>
        
    </article>

 <article>
        <header>
            <h1>NexPlayer SDK for iOS.  <time><2016 - present></time> </h1>
            <span>Mobile Live Streaming Player SDK Development for iOS(iOS / Swift / Object C /c/c++ /SDK)</span>
        </header>
        <p>
        Developed things and responsibilities 
        <ul>
            <li>Made a SDK Sample code for iOS.(Object C and Swift Both.)</li>
            <li> porting work iOS SDK (Between Player Engine (c/c++) and ObjectC Layer) </li>
            <li>Technical Support.</li>
        </ul>
            <br>
            
        </p>
        <a  href="https://nexstreaming.com/products/nexplayer-sdk"> NEXPLAYER SDK.</a></p>
        
    </article>

    <article>
        <header>
            <h1>NexPlayer Unity Plugin  <time><2017 - present></time> </h1>
            <span>NexPlayer Unity Plugin Development (iOS / Android/ c#/Object C /c/c++ /JAVA/JNI)</span>
        </header>
        <p>
        Developed things and responsibilities 
        <ul>
            <li>UNITY Plugin API Development.</li>
            <li>iOS Texture Development using Metal Framework for video Play </li>
        </ul>
            <br>
            
        </p>
        <a  href="https://nexstreaming.com/products/nexplayer-sdk"> NEXPLAYER SDK.</a></p>
        
    </article>

    

     
     <article>
        <header>
            <h1>NexPlayer360SDK. </h1>
            <span>Android App (Android / Java / c++ /VideoEditor )</span>
        </header>
        <p>
           the KineMix is android  simple editing App  (UI Development and maintenance ) -<time>2013 - 2014</time>
        </p>
        <a  href="https://www.onestore.co.kr/userpoc/apps/view?pid=0000371859"> PopPlayer/</a></p>
        
    </article>

      <article>
        <header>
            <h1>KT GiGA VR Music Live Player.</h1>
            <span>Android App (Android / Java / c++ /VideoEditor )</span>
        </header>
        <p>
           the KineMix is android  simple editing App  (UI Development and maintenance ) -<time>2013 - 2014</time>
        </p>
        <a  href="https://www.onestore.co.kr/userpoc/apps/view?pid=0000371859"> KineMix</a></p>
        
    </article>


     <article>
        <header>
            <h1>FIFA U-20 WC 2017 VR Player.</h1>
            <span>Android App (Android / Java / c++ /VideoEditor )</span>
        </header>
        <p>
           the KineMix is android  simple editing App  (UI Development and maintenance ) -<time>2013 - 2014</time>
        </p>
        <a  href="https://www.onestore.co.kr/userpoc/apps/view?pid=0000371859"> PopPlayer/</a></p>
        
    </article>


    <h1>Personal Projects</h1>

    <article>
        <header>
            <h1> CommitPic</h1>
            <span>Android App (Android / Java / c++ /VideoEditor )</span>
        </header>
        <p>
           the KineMix is android  simple editing App  (UI Development and maintenance ) -<time>2013 - 2014</time>
        </p>
        <a  href="https://www.onestore.co.kr/userpoc/apps/view?pid=0000371859"> PopPlayer/</a></p>
        
    </article>

    <article>
        <header>
            <h1> LetMeKnow</h1>
            <span>Android App (Android / Java / c++ /VideoEditor )</span>
        </header>
        <p>
           the KineMix is android  simple editing App  (UI Development and maintenance ) -<time>2013 - 2014</time>
        </p>
        <a  href="https://www.onestore.co.kr/userpoc/apps/view?pid=0000371859"> PopPlayer/</a></p>
        
    </article>

     <article>
        <header>
            <h1> SogangFCManagementSystem</h1>
            <span>Android App (Android / Java / c++ /VideoEditor )</span>
        </header>
        <p>
           the KineMix is android  simple editing App  (UI Development and maintenance ) -<time>2013 - 2014</time>
        </p>
        <a  href="https://www.onestore.co.kr/userpoc/apps/view?pid=0000371859"> PopPlayer/</a></p>
        
    </article>

     <article>
        <header>
            <h1> Summer</h1>
            <span>Android App (Android / Java / c++ /VideoEditor )</span>
        </header>
        <p>
           the KineMix is android  simple editing App  (UI Development and maintenance ) -<time>2013 - 2014</time>
        </p>
        <a  href="https://www.onestore.co.kr/userpoc/apps/view?pid=0000371859"> PopPlayer/</a></p>
        
    </article>

     <article>
        <header>
            <h1> ResumeSite</h1>
            <span>Android App (Android / Java / c++ /VideoEditor )</span>
        </header>
        <p>
           the KineMix is android  simple editing App  (UI Development and maintenance ) -<time>2013 - 2014</time>
        </p>
        <a  href="https://www.onestore.co.kr/userpoc/apps/view?pid=0000371859"> PopPlayer/</a></p>
        
    </article>

       <article>
        <header>
            <h1> EdgeDetection</h1>
            <span>Android App (Android / Java / c++ /VideoEditor )</span>
        </header>
        <p>
           the KineMix is android  simple editing App  (UI Development and maintenance ) -<time>2013 - 2014</time>
        </p>
        <a  href="https://www.onestore.co.kr/userpoc/apps/view?pid=0000371859"> PopPlayer/</a></p>
        
    </article>

         <article>
        <header>
            <h1> MediaSourceSample</h1>
            <span>Android App (Android / Java / c++ /VideoEditor )</span>
        </header>
        <p>
           the KineMix is android  simple editing App  (UI Development and maintenance ) -<time>2013 - 2014</time>
        </p>
        <a  href="https://www.onestore.co.kr/userpoc/apps/view?pid=0000371859"> PopPlayer/</a></p>
        
    </article>
    

</section>
