<section class="thirteen columns">
    <h1>Programming Skills</h1>
    <article>
        
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Java & Objective-C & Swift</em>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp; <em>C/C++</em>  &amp; <em>JNI</em> &amp; <em>c#</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>HTML/CSS3</em> &amp; <em>Node JS</em> &amp; <em>Python</em>
        </p>
    </article>

    <h1>Specialized on Development fields</h1>
     <article>
             <header>
                     <h1>Development about Mobile Software Development Kit & iOS and Android App Development & Graphics technologies for video Player and Camera. </h1>
             </header>
         
  


</section>