<section class="thirteen columns">
    <h1>Programming Skills</h1>
    <article>
        
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Java & Objective-C & Swift</em>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp; <em>C/C++</em>  &amp; <em>JNI</em> &amp; <em>c#</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>HTML/CSS</em> &amp; <em>Node JS</em>&amp; <em>JavaScirpt</em> &amp; <em>Python</em>
            &amp; <em>Shell Script</em>
        </p>
    </article>

   


</section>